/*
app variables
*/
body{
  background-image: url("thumb-1920-474157.jpg");
}

:root {
  /* background colors */
  --action-key-color: #cacaca07;
  --action-key-color-hover: #026eb656;
  --calculator-background-color: #00000000;
  --display-background-color: #cacaca07;
  --number-key-color: #fcfcfc05;
  --number-key-color-hover: #52525236;
  --submit-key-color: #cacaca07;
  --submit-key-color-hover: #0488214d;

  /* font */
  --main-font: 'Orbitron', sans-serif;

  /* font colors */
  --display-text-color: #ffffffb4;
  --key-text-color: #f8c007cc;

  /* font sizes */
  --display-text-size: 4em;
  --key-text-size: 3em;

  /* font weights */
  --display-text-weight: 400;
  --key-text-weight: 700;

  /* calculator dimensions */
  --calculator-height: 72%;
  --calculator-width: 36%;

  /* display dimensions */
  --display-height: 24%;
  --display-width: 92%;

  /* keypad dimensions */
  --keypad-height: 72%;
  --keypad-width: 96%;
}

@media screen and (max-width: 1024px) {
  :root {
    /* font sizes */
    --display-text-size: 6em;
    --key-text-size: 3em;

    /* calculator dimensions */
    --calculator-height: 100%;
    --calculator-width: 100%;
  }
}

/*
app CSS reset  
*/

body,
div,
p {
  margin: 0;
  padding: 0;
}
